@import "tailwindcss";

@theme base{
    --color-IEEE-Blue: #002F6C;
    --color-IEEE-Bright-Blue: #003D8F;
    --color-IEEE-Orange: #F15A22;
    --color-IEEE-Light-Blue: #1A447B;
    --color-Soft-Grey: #4A5565;
    --color-Blue-Grey: #DBEAFE;
    --color-Text-Grey: #364153
}